$extra-small: 320px
$small: 576px
$medium: 768px
$large: 992px
$extra-large: 1200px
$szurke: #5A5A5A
$rozsaszin: #E4A0B7

.btn-primary,
.btn-primary:hover, 
.btn-primary:active, 
.btn-primary:visited 
  background: $szurke !important
  border: none
  color:#FFFFFF !important
  &:hover
    background: #000000 !important
    transition: .5s ease all
    color:#FFFFFF !important

.modal-header,
.card-header
  background: $szurke !important
  color:#FFFFFF

.cimalatt_hr
  border: solid 0.2rem $rozsaszin
  width: 10rem

.lilagomb
  border-radius: 1.75rem
  background: #867EE5
  color:#FFFFFF !important
  margin-right: 7rem
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
  &:hover
    color: $szurke !important

#underheader-about-container
  position: relative

.under-header
  display: block

#cover-box
  left: 0
  right: 0
  margin: auto
  position: absolute

.under-header
  background-image: url('../assets/kepek/kezdokep.jpg')
  background-size: 100%

  p
    color: #787878
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    font-family: Inria Serif
    font-style: normal
    font-weight: 700
    line-height: normal

  hr
    height: 1px
    color: #E4A0B7
    border-top: 3px #E4A0B7 solid

  .btn-vasarlas
    border-radius: 18px
    background: #E4A0B7
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
    color: #fff
    &:hover
      background: #d95f88
      transition: .5s ease all

a
 text-decoration: none
 color: #787878
 &:hover
      color: #d95f88
      transition: .5s ease all
  
.noimage
  min-height: 600px
  font-size: 50px

@media(max-width: $extra-small)
  .under-header
    min-height: 185px

    p
      font-size: 13px
      padding: 7px 0px 0px 14px

    hr
      width: 50px
      margin-left: 20px
    
    .btn-vasarlas
      font-size: 12px
      margin-left: 14px

  #cover-box
    display: none !important

@media((min-width: $extra-small) and (max-width: $small))
  .under-header
    min-height: 240px

    p
      font-size: 16px
      padding: 10px 0px 0px 20px

    hr
      width: 90px
      margin-left: 20px
    
    .btn-vasarlas
      margin-left: 20px

  #cover-box
    display: none !important

@media((min-width: $small) and (max-width: $medium))
  .under-header
    min-height: 400px

    p
      font-size: 25px
      padding: 45px 0px 0px 20px

    hr
      width: 120px
      margin-left: 20px
    
    .btn-vasarlas
      margin-left: 20px
      font-size: 20px
    
  .services
    width: 25%

  #cover-box
    margin-top: 170px

    p
      font-size: 15px
      padding: 5px 0px 0px 8px

@media((min-width: $medium) and (max-width: $large))
  .under-header
    min-height: 480px

    p
      font-size: 35px
      padding: 45px 0px 0px 20px

    hr
      width: 120px
      margin-left: 20px
    
    .btn-vasarlas
      margin-left: 20px
      font-size: 23px
  
  .services
    width: 28%

  #cover-box
    margin-top: 190px

    p
      font-size: 25px
      padding: 25px 0px 0px 8px

@media(min-width: $large)
  .under-header
    min-height: 650px

    p
      font-size: 40px
      padding: 100px 0px 0px 60px

    hr
      width: 120px
      margin-left: 60px
      border-top: 8px #E4A0B7 solid
    
    .btn-vasarlas
      margin-left: 60px
      font-size: 30px

  .services
    width: 28%

  #cover-box
    margin-top: 250px

    p
      font-size: 25px
      padding: 25px 0px 0px 8px